<% content_for(:title, @blog.title) %>
<div class="container-fluid" id="content-main">
  <div class="row-fluid">
    <div class="container"> 
      <div class="row-fluid clearfix">
        <div class="col-xs-12 text-left">
          <h1><%= yield(:title) %></h1>
        </div><!-- /col-xs-12 -->
      </div><!-- /row -->
      <div class="row-fluid clearfix">
        <div class="col-xs-12 text-left">
          <summary><%= @blog.description %></summary>
        </div><!-- /col-xs-6 -->
      </div><!-- /row -->
      <div class="row-fluid clearfix">
        <div class="col-xs-12 text-left">
          <div class="col-xs-12 col-sm-5 pull-right blog-image-wrap">
              <%= image_tag @blog.image.url(:large), alt: @blog.title %>
            </div>
            <%= simple_format(@blog.main_content) %>
        </div><!-- /col-xs-6 -->
      </div><!-- /row -->
      <div class="row-fluid clearfix">
        <div class="col-xs-12 text-left">
          	<% if user_signed_in? && current_user.id == 1 %>
              <%= link_to 'Edit', edit_blog_path(@blog) %>
              <%= link_to "Delete", blog_path(@blog), method: :delete, data: { confirm: "Are you sure?" } %>
              <%= link_to 'Back', blogs_path %>
            <% end %>
        </div><!-- /col-xs-6 -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /row -->
</div><!-- /content-main -->
