<% content_for(:title, "Change your password?") %>
<div class="container-fluid" id="content-main">
  <div class="row-fluid">
    <div class="container"> 
      <div class="row-fluid clearfix">
        <div class="col-xs-12 col-sm-8 text-left">
          <h1><%= yield(:title) %></h1>

           <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

                <%= f.input :reset_password_token, as: :hidden %>
                <%= f.full_error :reset_password_token %>

              <div class="form-inputs">
                 <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Change my password" %>
              </div>
            <% end %>

      <div class="shared-login-links">
        <%= render "devise/shared/links" %>
      </div><!--/shared-login-link -->
        </div><!-- /col-xs-12 -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /row -->
</div><!-- /content-main -->
