<% content_for(:title, "Lugnut Connect") %>
<div class="container-fluid" id="content-main">
	<div class="row-fluid" id="posts-container">
		<div class="container">	
			<div class="row-fluid clearfix">
				<div class="col-xs-12 text-left">
					<h1><%= yield(:title) %></h1>
					<p>Looking for answers to those looming car questions? Can't figure out which connected device is right for look? Check out our forum below for answers to all of your questions. Can't find an answer? Bring your topic to the community by starting a new thread.</p>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
			<div class="row-fluid clearfix">
				<div class="col-xs-12 col-sm-4">
					<div class="dropdown">
					  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Sort by
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li><a href="#"><%= sort_link "title" %></a></li>
					    <li><a href="#"><%= sort_link "created_at" %></a></li>
					  </ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 pull-right text-left">
					<%= form_tag search_posts_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
			          <div class="clearfix">
			            <div class="form-inputs">
			            	<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search"  %>
			            </div>
			          </div>
			         <% end %>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
			<div class="row-fluid clearfix" id="posts-wrap">
				<div class="col-xs-12 text-left">
					<% @posts.each do |post| %>
						<h2><%= link_to post.title, post %></h2>
						<p><%= link_to truncate(post.content, :length => 200, :separator => ' '), post %></p>
						<div class="row-fluid post-strip clearfix">
							<div class="col-xs-12 col-sm-2 post-link post-info text-center">
								<%= link_to "Visit post", post, class: 'cta'  %>
							</div>
							<div class="col-xs-12 col-sm-2 post-info text-center">
								<p>Comments (<%= post.comments.count %>)</p>
							</div>
							<div class="col-xs-12 col-sm-3 post-info text-center">
								<p>Last updated: <%= time_ago_in_words(post.updated_at) %></p>
							</div>
						</div>
					<% end %>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
			<div class="row-fluid">
			<div class="col-xs-12 col-sm-4" id="new-thread-btn">
				<%= link_to "Start a new thread", new_post_path, class: 'cta'  %>
			</div>
			</div>
		</div><!-- /container -->
	</div><!-- /row -->
</div><!-- /content-main -->