<% content_for(:title, @post.title) %>
<div class="container-fluid" id="content-main">
	<div class="row-fluid">
		<div class="container">	
			<div class="row-fluid clearfix">
				<div class="col-xs-12 text-left">
					<h1><%= @post.title %></h1>
					<p><%= @post.content %></p>
					<% if user_signed_in? && @post.user_id == current_user.id %>
						<h6>This is your post, so you may... <%= link_to "Edit", edit_post_path(@post) %> or 
						<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %></h6>
					<% end %>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
			<div class="row-fluid clearfix">
				<div class="col-xs-12 text-left" id="comments">
					<h4>Comments (<%= @post.comments.count %>)</h4>
					<%= render @post.comments%>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
			<div class="row-fluid clearfix">
				<div class="col-xs-12 text-left" id="comments">
					<h4>Reply to thread</h4>
					<% if user_signed_in? %>
						<%= render 'comments/form' %>
					<% else %>
						<%= link_to "Log in to Reply", new_user_session_path, class: 'cta' %>
					<% end %>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /row -->
</div><!-- /content-main -->