<% content_for(:title, "Edit Productline") %>
<div class="container-fluid" id="content-main">
	<div class="row-fluid">
		<div class="container">	
			<div class="row-fluid clearfix">
				<div class="col-xs-12 text-left">
					<h1><%= yield(:title) %></h1>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
			<div class="row-fluid clearfix">
				<div class="col-xs-12 text-left">
					<div class="form">
						<%= simple_form_for @productline do |f| %>
							<div class="form-inputs">
								<%= f.input :title, placeholder: "Title" %>
								<%= f.input :textdescription, placeholder: "Text Description" %>
							</div>	
							<div class="form-actions">
								<%= f.button :submit, "Update Product Line", class: 'cta' %>
							</div>	
						<% end %>
					</div>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
			<div class="row-fluid clearfix">
				<div class="col-xs-12 text-left">
					<%= link_to "Cancel", productline_path %>
				</div><!-- /col-xs-12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /row -->
</div><!-- /content-main -->