<div class="form">
  <%= simple_form_for @product do |f| %>
    <div class="form-inputs">
      <%= f.input :productcode, placeholder: "Code" %>
      <%= f.input :productname, placeholder: "Name" %>
      <% options = options_from_collection_for_select(@productlines, 'id', 'title') %>
      <%= f.select :productline_id,  options %>
      <%= f.input :productscale, placeholder: "Scale" %>
      <%= f.input :productvendor, placeholder: "Vendor" %>
      <%= f.input :productdescription, placeholder: "Description" %>
      <%= f.input :quantityinstock, placeholder: "Quantity In Stock" %>
      <%= f.input :buyprice, placeholder: "Buy Price" %>
      <%= f.input :msrp, placeholder: "MSRP" %>
    </div>  
    <div class="form-actions">
      <%= f.button :submit, "Create Product", class: 'cta' %>
    </div>  
  <% end %>
</div>