<footer>
	<div class="container">
		<div class="row clearfix" id="footer-wrap">
			<div class="hidden-xs col-sm-9 col-md-10 col-lg-10" id="footer-navigation">
				<%= render 'layouts/nav' %>
			</div><!-- /footer-navigation -->
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 pull-right" id="social">
				<%= link_to icon('twitter'), 'https://twitter.com', target: "_blank" %>
				<%= link_to icon('facebook'), 'https://facebook.com', target: "_blank" %>
				<%= link_to icon('linkedin'), 'https://linkedin.com', target: "_blank" %>
				<%= link_to icon('youtube-play'), 'https://youtube.com', target: "_blank" %>
			</div><!-- /social  -->
		</div><!-- /row -->
		<div class="row clearfix" id="copyright">
			<div class="col-xs-12">
				<h6>&copy; <span id="year"></span>. Lugnut Automotive Services.</h6>
			</div><!-- /footer-navigation -->
		</div><!-- /row -->
	</div><!-- /container -->
</footer>
<script type="text/javascript">
	$(function () {
		var $today = new Date();
		var $Year = $today.getFullYear();
		$('footer #year').text($Year);

		$('.alert.alert-info').fadeOut(10000);
	});
</script>