<ul class="nav navbar-nav">
	<% if !current_page?(root_path) %>
		<li><%= link_to "Welcome", root_path %></li>
	<% end %>
	<li><%= link_to "Posts", posts_path %></li>
	<li><%= link_to "About Us", pages_aboutus_path %></li>
	<% if user_signed_in? %>
      <li><%= link_to "Account", edit_user_registration_path %></li>
      <li><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path, class: "active" %></li>
      <li><%= link_to "Log in", new_user_session_path, class: "active" %></li>
    <% end %>
</ul>