<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Lugnut Connect</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <%= render 'layouts/analytics' %>
</head>
<body>
	<% if !current_page?(root_path) %>
		<%= render 'layouts/header' %>
	<% end %>
	<div class="container-fluid" id="lugnut">
		<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end%>

		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
